<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Détails du Catway</title>
</head>
<body>
    <h1>Catway n° <%= catway.catwayNumber %></h1>
    <p>Type : <%= catway.type %></p>
    <p>État : <%= catway.catwayState %></p>
    <!-- Ajoutez ici d'autres informations si nécessaire -->

    <p><a href="/catways">Retour à la liste des catways</a></p>
</body>
</html>