<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Port Plaisance Russel</title>
</head>
<body>
    <h1>Bienvenue sur Port Plaisance Russel</h1>
    <p>Une application pour gérer les réservations et les catways.</p>

     <!-- Affichage d'un message d'erreur si présent -->
     <% if (error) { %>
        <p style="color: red;"><%= error %></p>
    <% } %>

    <h2>Connexion</h2>
    <form action="/login" method="POST">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Mot de passe" required>
        <button type="submit">Se connecter</button>
    </form>

    <p><a href="/api/docs">Documentation de l'API</a></p>
</body>
</html>